.contact-form-control {
  border: 1px solid #f47a204f;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.contact-form-control input,
textarea {
  flex: 1;
  outline: none;
  background: transparent;
  border: 0;
  color: white;
  padding: 0;
}
.contact-form-control svg {
  margin-top: 4px;
}
