@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-weight: lighter !important;
  font-size: 32px;
  color: #f47a20 !important;
  font-family: "Assistant", sans-serif;
  line-height: 55px;
  padding: 0px 40px;
  text-align: center;
}

h2 span {
  font-weight: bold;
}

h3 {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  text-align: left;
  font-weight: lighter;
  font-size: 18px;
  color: #f47a20 !important;
  font-family: "Assistant", sans-serif;
  line-height: 26px;
}

.common-text {
  color: white;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
}

.common-text span,
.common-text a {
  color: #f47a20;
}

h4 {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
  color: #f47a20 !important;
  font-family: "Assistant", sans-serif;
  line-height: 22px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
