.header-phone-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  padding: 10px;
  z-index: 30;
  width: 100vw;
  background-color: #111111f7;
}

.search-container {
  position: absolute;
  background: white;
  min-width: 400px;
  right: -20px;
  top: 80px;
  border-radius: 4px;
  color: black;
}

.search-box {
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  border-radius: 28px;
  height: 40px;
  margin: 16px;
}

.search-box input {
  background: transparent;
  outline: none;
  color: black;
  height: 100%;
  padding: 10px;
}

.search-box .search-icon {
  background: black;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result {
  margin-top: 10px;
  margin-bottom: 20px;
}
