.carouselArrow {
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
  cursor: pointer;
}

.carouselArrow:hover {
  background-color: #f47a20;
  border: 0;
}

.carouselArrow.right {
  right: -100%;
}

.carouselArrow.left {
  left: -100%;
}

.carousel-wrapper {
  height: 100%;
  position: relative;
}

.carousel-wrapper:hover .carouselArrow.right {
  right: 60px;
}

.carousel-wrapper:hover .carouselArrow.left {
  left: 60px;
}

.carousel-slider-wrapper {
  height: 100%;
  overflow: hidden;
}

.carousel-slider-item {
  height: 100%;
  width: 100vw;
  flex: none;
}

.carousel-dot-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.carousel-dot-item {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  background-color: #a29d9dfc;
}

.carousel-dot-item.active {
  background-color: #f47a20;
  width: 30px;
}
