.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.progress-title {
  position: absolute;
  color: #f47a20;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 9px;
  transform: translateX(-10px);
  display: none;
}

.progress-title.show {
  display: block;
}

.design-title {
  font-weight: bold;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 20px;
  color: white;
  background-color: black;
  width: fit-content;
  padding: 0 10px;
  font-size: 18px;
}

.design-conclusion-title {
  font-weight: bold;
  color: #f47a20;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px 0;
}

.design-opt p {
  margin: 5px 0;
  color: #595d6e;
}

.color-pick-item {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  box-sizing: content-box;
  color: #595d6e;
  position: relative;
  display: flex;
  gap: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.color-pick-item:hover {
  transform: scale(1.1);
}

.color-pick-item.active {
  border: 5px solid white;
}
