.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.progress-title {
  position: absolute;
  color: #f47a20;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 9px;
  transform: translateX(-10px);
  display: none;
}

.progress-title.show {
  display: block;
}

.design-title {
  font-weight: bold;
  margin-top: 40px;
}

.design-conclusion-title {
  font-weight: bold;
  color: #f47a20;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px 0;
}

.design-opt p {
  margin: 5px 0;
  color: #595d6e;
}
